.navbar-custom{

height:80px;

background:#111827;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

border-bottom:1px solid #1f2937;

position:sticky;

top:0;

z-index:900;

}

.navbar-left{

display:flex;

align-items:center;

gap:18px;

}

.menu-btn{

width:46px;

height:46px;

border:none;

border-radius:14px;

background:#1E293B;

color:white;

font-size:20px;

display:flex;

justify-content:center;

align-items:center;

transition:.3s;

}

.menu-btn:hover{

background:#2563EB;

}

.navbar-title{

color:white;

font-size:24px;

font-weight:700;

margin:0;

}

.navbar-subtitle{

color:#94A3B8;

font-size:14px;

margin:0;

}

.navbar-right{

display:flex;

align-items:center;

gap:15px;

}

.icon-btn{

width:46px;

height:46px;

border:none;

border-radius:14px;

background:#1E293B;

color:white;

font-size:18px;

display:flex;

justify-content:center;

align-items:center;

transition:.3s;

}

.icon-btn:hover{

background:#2563EB;

}

.profile-box{

display:flex;

align-items:center;

gap:12px;

padding:8px 15px;

background:#1E293B;

border-radius:16px;

}

.profile-icon{

font-size:40px;

color:#3B82F6;

}

.profile-name{

color:white;

font-weight:600;

}

.profile-role{

font-size:13px;

color:#94A3B8;

}

@media(max-width:992px){

.navbar-custom{

padding:0 18px;

}

.profile-box{

display:none;

}

}